{%  if ccontrol_config.save is defined %}
Configuration Saved: {{ ccontrol_config.save }}
{% else %}
Configuration Saved: NOT SAVED
{% endif %}
Compose file set: {{ ccontrol_config.compose_file }}
{%  if ccontrol_config.build_script is defined %}
Build script: {{ ccontrol_config.build_script }}
{% else %}
Build script: NOT SET
{% endif %}
  {%- if ccontrol_config.kube_enabled %}
    {%- if ccontrol_config.kube_enabled == True %}
Showing Kubectl components: True
    {%- else %}
Showing Kubectl components: False
    {%- endif %} 
  {%- else %}
Kube configuration: NOT SET
  {%- endif %} 
{% if ccontrol_config.excluded_services %}
Services excluded from logging:
{% for service in ccontrol_config.excluded_services %}
  {{ service }}
{%- endfor %}
{% endif %}
To reset the compose file, please run: 'ccontrol configure -f path/to/docker-compose.yml'
