# the following two lines give a two-line status, with the current window highlighted
hardstatus alwayslastline
hardstatus string '%{= kG}[%{G}%H%? %1`%?%{g}][%= %{= kw}%-w%{+b yk} %n*%t%?(%u)%? %{-}%+w %=%{g}][%{B}%m/%d %{W}%C%A%{g}]'

# huge scrollback buffer
defscrollback 5000

# no welcome message
startup_message off

# 256 colors
attrcolor b ".I"
termcapinfo xterm 'Co#256:AB=\E[48;5;%dm:AF=\E[38;5;%dm'
defbce on

chdir {{ compose_path }}


{% if stop_compose == True %}
screen -t Control 0 ccontrol interactive
{% endif %}

# default windows
{% for key in services %}
screen -t {{key}} docker logs --follow {{key}}
{% endfor %}

# switch windows with F1 (prev) and F2 (next)
terminfo * F1=^[OP
terminfo * F2=^[OQ

bindkey -k F1 prev
bindkey -k F2 next

select 0
